/* .service-container{
    width: 100%;
    max-width: 350px;
    padding: 5px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 1px solid lightgray;
    text-align: center;
}
.service-container img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
} */